<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Community Post</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/community-post-styles.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <p class="navbar-brand" style="padding-left: 1.2%;"><u>AI ENABLED SOLUTIONS</u></p>
                <a class="navbar-brand ml-auto" href="/community"><b>X</b></a>
            </div>
        </nav>
    </header>

    <div class="content">
        <div class="container-fluid">
            <h1><b><%= post[2] %></b> : <%= post[0] %> </h1>

            <div class="row">
                <div class="col-md-8">
                    <img src="/uploads/<%= post[post.length - 1].split('/').pop() %>" class="innovate-img" alt="Post Image">

                    
                </div>
                <div class="col-md-4" style="padding-top: 2%;">
                    <h2><u>Alpaca Prompt</u></h2>

                    <p><%= post[4] %></p>

                    <h2><u>Problem Definition</u></h2>
                    <p><%= post[1] %></p>

                    <h2><u>Proposed Solution</u></h2>
                    <p><%= post[3] %></p>
                </div>
            </div>
        </div>
    </div>

</body>
</html>