<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Levels</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/levels-styles.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="/images/modulelogo.png" alt="Logo" class="logo">
                </a>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav mx-auto nav-center">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/community">Community</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/search">The Search</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/playerinfo">
                                <img src="<%= user.playerAvatar %>" alt="Icon" class="icon">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="profile">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 left-section">
                    <div class="icons">
                        <button class="unstyled-button" onclick="window.location.href='/playerinfo'""><i class="fas fa-backward fa-4x"></i></button>
                    </div>
                    <% const completedLevels = user.completedLevels || []; %>
                    <% const unlockedLevels = user.unlockedLevels || []; %>
                    <% const chapters = [
                        { id: 0, title: 'THE ORIGINS' },
                        { id: 1, title: 'AGENT PROFILE' },
                        { id: 2, title: 'DATA TO DECISIONS' },
                        { id: 3, title: 'AI PUZZLE' },
                        { id: 4, title: 'INNOVATE WITH AI' },
                        { id: 5, title: 'REIMAGINE PURDUE' },
                        { id: 6, title: 'ETHICAL ECHOS' },
                        { id: 7, title: 'FINAL REVELATION'}
                    ]; %>
                    <% chapters.forEach(chapter => { %>
                        <div class="icons">
                            <h1 class="<%= user.completedLevels.includes(chapter.id) ? 'completed chapter-title' : (user.unlockedLevels.includes(chapter.id) ? 'chapter-title' : 'locked') %>" 
                                data-title="0<%= chapter.id%> <%= chapter.title %>"
                                data-id="<%= chapter.id %>">
                                0<%= chapter.id %> <%= chapter.title %>
                            </h1>
                            <p>
                                <% if (user.completedLevels.includes(chapter.id)) { %>
                                    Completed on: <%= user.levelCompletionDates.get(chapter.id.toString()) %>
                                <% } else if (user.unlockedLevels.includes(chapter.id)) { %>
                                    UNLOCKED
                                <% } else { %>
                                    <p class="locked">LOCKED</p>
                                <% } %>
                            </p>
                        </div>
                    <% }) %>
                </div>
                <div class="col-md-8 info-section <%= completedLevels.includes(1) ? 'locked' : '' %>">
                    <h1 id="main-title">TRAINING MODULE: 00 THE ORIGINS</h1>
                    <br>
                    <h2>Mission Brief:</h2>
                    <p id="mission-brief">Not a dialogue but what the mission was about and why it is important in AI and/or AI with Education.</p>
                    <br>
                    <h2>Mission Steps: </h2>
                    <p id="mission-steps">
                        1. Steps pertaining to the particular level. <br>
                        2. Engage with the AI assistant: Dive into conversation with your AI companion, discussing your field of study and desired innovations. <br>
                        3. Ideation phase: Brainstorm improvements collaboratively with your AI assistant, refining your ideas through constructive dialogue. <br>
                        4. Visualize your solution: Utilize Midjourney to craft a visual representation of your innovative solution, either with AI assistance or by your own expertise. <br>
                        5. Submission: Submit your finalized concept and visualization through the web platform for evaluation.
                    </p>
                    <div class="row" style="align-items: center;">
                        <div class="col-md-4">
                            <a id="module-btn" href="/level1" class="btn btn-primary <%= completedLevels.includes(1) ? 'd-none' : '' %>">Begin Module</a>
                            <h3 class="completed-message <%= completedLevels.includes(1) ? '' : 'd-none' %>">COMPLETED</h3>
                        </div>
                        <div class="col-md-6">

                        </div>
                        <div class="col-md-2">
                            <p class="level-number"></p>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>

    

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>

        $(document).ready(function() {
            const completedLevels = <%= JSON.stringify(user.completedLevels) %>;
            const unlockedLevels = <%= JSON.stringify(user.unlockedLevels) %>;
            const levelDetails = <%- JSON.stringify(levelDetails) %>;

            $('.chapter-title').on('click', function() {
                var title = $(this).data('title');
                var chapterId = $(this).data('id');

                $('.icons').removeClass('chapter-selected');

                $(this).parent('.icons').addClass('chapter-selected');
                

                $('#main-title').text('TRAINING MODULE: ' + title);

                var levelData = levelDetails.find(level => level.id === chapterId);


                if (levelData) {
                    $('#mission-brief').text(levelData.brief);
                    $('.level-number').text('0' + levelData.id);
                    $('#mission-steps').html(levelData.steps.replace(/ayano/g, '<br>'));
                    $('#module-btn').attr('href', levelData.href);
                } else {
                    $('#mission-brief').text("Mission Brief not found.");
                    $('#mission-steps').text("Mission Steps not found.");
                }

                $('.info-section').removeClass('locked');
                $('.level-number').removeClass('locked');
                if (completedLevels.includes(chapterId)) {
                    $('.info-section').addClass('locked');
                    $('.level-number').addClass('locked');
                }

                if (unlockedLevels.includes(chapterId) && !completedLevels.includes(chapterId)) {
                    $('.btn-primary').removeClass('d-none');
                    $('.completed-message').addClass('d-none');
                } else {
                    $('.btn-primary').addClass('d-none');
                    $('.completed-message').removeClass('d-none');
                }
            });

            document.querySelector('.chapter-title[data-title="00 THE ORIGINS"][data-id="0"]').click();
        });
    </script>
</body>
</html>
