<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/playerinfo-styles.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="/images/modulelogo.png" alt="Logo" class="logo">
                </a>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav mx-auto nav-center">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/community">Community</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/search">The Search</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/playerinfo">
                                <img src="<%= user.playerAvatar %>" alt="Icon" class="icon">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="profile">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                    <div class="icons icon-active">
                        <img src="/images/profile.png" alt=""> <br>
                        <a href="/playerinfo"><u>PROFILE</u></a>
                    </div>
                    <div class="icons">
                        <img src="/images/levels.png" alt=""> <br>
                        <a href="/levels">LEVELS</a>
                    </div>
                    <div class="icons">
                        <img src="/images/chapters.png" alt=""> <br>
                        <a href="/chapters">CHAPTERS</a>
                    </div>
                    <div class="icons">
                        <img src="/images/levels.png" alt=""> <br>
                        <a href="/add">ADD</a>
                    </div>
                </div>
                <% if(!troopInfo){ %>
                    <div class="col-md-10 info-section newplayer">
                        <img src="<%= user.playerAvatar %>" alt="">
                        <div class="row">
                            <div class="col-md-6 info-left-pre">
                                <h1>AGENT NAME</h1>
                                <h1>I.D</h1>
                                <h1>TROOP</h1>
                                <h1>LEVEL</h1>
                                <h1>BADGES</h1>
                            </div>
                            <div class="col-md-6 info-right">
                                <h1>: <%= user.displayName %></h1>
                                <h1>: <%= user.googleId.slice(-9) %></h1>
                                <h1>: To Be Assigned</h1>
                                <h1>: <%= user.currentLevel %></h1>
                                <h1>: -</h1>
                        </div>
                        <div class="info-bottom">
                            <div class="row">
                                <div class="col-md-8">
                                    <p>Complete Level 1 to determine your troop assignment and embark on Mission Renaissance.</p>
                                </div>
                                <div class="col-md-4">
                                    <a href="/orientation" class="btn btn-warning">GO TO LEVEL 1</a>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                <% } else { %>
                    <div class="col-md-5 info-section">
                        <div class="container-fluid">
                            <img src="<%= user.playerAvatar %>" alt="">
                        <div class="row">
                            <div class="col-md-6 info-left">
                                <h1>AGENT NAME</h1>
                                <h1>I.D</h1>
                                <h1>TROOP</h1>
                                <h1>LEVEL</h1>
                                <h1>BADGES</h1>
                            </div>
                            <div class="col-md-6 info-right">
                                <h1>: <%= user.displayName %></h1>
                                <h1>: <%= user.googleId.slice(-9) %></h1>
                                <h1>: <%= troopInfo.name%></h1>
                                <h1>: <%= user.currentLevel %></h1>
                                <h1>: -</h1>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-5 troop-section">
                        <h1>Troop <%=troopInfo.name%></h1>
                        <p>Welcome!</p>
                        <p><%=troopInfo.welcomeText%></p>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="<%=troopInfo.emblem%>" alt="">
                                </div>
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <p>Symbol: </p>
                                        </div>
                                        <div class="col-md-8">
                                            <p><%= troopInfo.symbol %></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <p>Motto: </p>
                                        </div>
                                        <div class="col-md-8">
                                            <p><%= troopInfo.motto %></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h2>ABOUT</h2>
                        </div>

                        <div class="container-fluid">
                            <p><%= troopInfo.traits %></p>
                            <h2>CHARACTERISTICS</h2>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </div>

    

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</body>
</html>
